@tailwind base;
@tailwind components;
@tailwind utilities;

/* #################### [CUSTOM STYLES] ######################## */

.visually-hidden {
  @apply whitespace-nowrap absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-none;
  clip: rect(0, 0, 0, 0);
}

.sidebar-link {
  @apply flex gap-2 items-center p-3 rounded-md bg-blue-100 hover:bg-blue-500 hover:text-slate-50 hover:cursor-pointer duration-300;
}
.sidebar-svg {
  @apply w-5 h-5 fill-current;
}
.tasklist-item {
  @apply font-light text-sm border-b border-gray-200 p-4 hover:shadow-[inset_0_-70px_0_0_rgba(0,0,0,0.03)] duration-500;
}
.nav-hidden {
  @apply -translate-x-full;
}

/* ######################### [END] ############################# */
