@tailwind base;
@tailwind components;
@tailwind utilities;

/* #################### [TAILWIND STYLES] ######################## */

.visually-hidden {
  @apply whitespace-nowrap absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-none;
  clip: rect(0, 0, 0, 0);
}
.sidebar-item {
  @apply rounded-md bg-blue-100 hover:bg-blue-500 hover:text-slate-50 hover:cursor-pointer duration-300;
}
.sidebar-link {
  @apply flex gap-2 items-center p-2 2xl:p-3;
}
.sidebar-svg {
  @apply w-5 h-5 fill-current;
}
.tasklist-item {
  @apply grid grid-cols-[max-content_1fr_max-content] gap-2 border-b font-light text-xs rounded-md p-4 hover:shadow-[inset_0_-90px_0_0_rgba(0,0,0,0.03)] duration-500;
}
.nav-hidden {
  @apply -translate-x-full;
}
.no-tasks-message {
  @apply font-thin text-2xl text-gray-600 text-center mt-4;
}
.tasklist-text {
  @apply text-lg col-start-2 row-start-1;
}
.tasklist-date {
  @apply col-start-2 row-start-2 flex gap-2 items-center;
}
.tasklist-project {
  @apply col-start-3 row-start-2 flex gap-2 items-center uppercase;
}
.tasklist-icon {
  @apply fill-current w-4 h-4;
}
.tasklist-button-icon {
  @apply w-5 h-5 fill-current;
}
.tasklist-btn {
  @apply p-1 rounded-full  hover:scale-105 hover:shadow-md duration-300;
}
.red-btn {
  @apply text-gray-50 bg-red-500  hover:bg-red-600 cursor-pointer;
}
.yellow-btn {
  @apply text-zinc-700 bg-amber-400 hover:bg-amber-500 cursor-pointer;
}
.green-btn {
  @apply text-white bg-emerald-500 hover:bg-emerald-600 cursor-pointer;
}
.tasklist-button-wrapper {
  @apply col-start-3 row-start-1 flex gap-2 justify-end;
}
.task-complete {
  @apply text-gray-400 line-through duration-500;
}
.form-label {
  @apply font-light uppercase text-sm;
}
.form-input {
  @apply border border-gray-300 rounded-md p-2 mb-4 w-full;
}
.form-button {
  @apply border px-4 py-2 rounded-md text-gray-50 duration-200;
}
.project-item {
  @apply flex justify-between items-center p-2 2xl:p-3 hover:shadow-[inset_250px_0_0_0_rgba(219,234,254)] hover:text-zinc-700 hover:cursor-pointer duration-500;
}
.high-priority {
  @apply border-l-8 border-l-red-400;
}
.medium-priority {
  @apply border-l-8 border-l-amber-400;
}
.low-priority {
  @apply border-l-8 border-l-emerald-400;
}

/* ######################### [END] ############################# */

label:has(input[type='radio']:not(:checked)) {
  opacity: 0.3;
}
